
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contacto</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!--metadatos-->
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="EmergencyApp">
    <meta name="keywords" content="EmergencyApp, Gimnasio, Entrenadores, Ayuda">
    <meta name="robots" content="index"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/EstiloFooter.css">
    <!--link rel="stylesheet" href="/css/index.css"-->
    <link rel="stylesheet" href="/css/contacto.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <img alt="EmergencyApp" class="logo" src="/images/logo.png"/>
            </a>
        </div>
        <b><h1 class="text">EmergencyApp</h1></b>
    </header>
    
    <div class="container">
        <div class="column">
            <br>
            <section>
                <h2>Información de Contacto</h2>
                <p>Si tienes alguna pregunta o necesitas más información adicional, no dudes en contactarnos a través de los siguientes medios:</p>
                <ul>
                    <li><strong>Teléfono:</strong> 656 782 5559</li>
                    <li><strong>Buzón de quejas:</strong> <a href="/BuzonQuejas">Clic aquí</a></li>
                    <li><strong>Dirección:</strong>Blvd. Independencia 1510, 32599 Juárez, Chih</li>
                </ul>
            </section>
            <section>
                <h2>Horarios de apertura</h2>
                <ul>
                    <li><strong>Lunes a Viernes:</strong> 05:00 AM - 12:00 AM</li>
                    <li><strong>Sábado:</strong> 09:00 AM - 18:00 PM</li>
                    <li><strong>Domingo:</strong> 10:00 AM - 16:00 PM</li>
                </ul>
            </section>
        </div>
        <div class="column">            
            <section class="redes-sociales">
                <h2>Redes Sociales</h2>
                <p>Síguenos en nuestras redes sociales para estar al tanto de las últimas novedades e información relevante de la comunidad:</p>
                <div class="redes-container">
                    <a href="https://www.facebook.com/" class="red-social"><img src="/images/facebook.png" alt="Facebook" style="width: 100%;"><br> Facebook</a>
                    <a href="https://x.com/" class="red-social"><img src="/images/twitter.png" alt="Twitter" style="width: 100%;"><br> Twitter</a>
                    <a href="https://www.instagram.com/" class="red-social"><img src="/images/instagram.png" alt="Instagram" style="width: 100%;"><br> Instagram</a>
                    <a href="https://www.tiktok.com/" class="red-social"><img src="/images/tiktok.png" alt="tiktok" style="width: 100%;"><br>Tiktok</a>
                </div>
            </section>
        </div>
    </div>

    <footer>
        <div id="dynamic-footer"></div>
    </footer>
    <script src="/js/Footer.js"></script>
</body>
</html>