<!DOCTYPE html>
<html lang="en">
<head>
    <title>EmergencyApp</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="EmergencyApp">
    <meta name="keywords" content="EmergencyApp, Gimnasio, Entrenadores, Ayuda">
    <meta name="robots" content="index">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/EstiloFooter.css">
    <link rel="stylesheet" href="/css/index.css">
    <!--link rel="stylesheet" href="/css/buscador.css"-->
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <img alt="EmergencyApp" class="logo" src="/images/logo.png"/>
            </a>
        </div>
        <b><h1 class="text">EmergencyApp</h1></b>
    </header>
    <div class="content-wrapper">
        <div class="text-section">
            <center><h2 class="text-section">Bienvenidos a EmergencyApp</h2>
            <p class="text-section2">Accede a tu cuenta para descubrir este mundo de entrenamientos seguros</p></center>
        </div>

        <div class="form-section">
            <div class="container">
                <center><h2 style="font-weight: 700; color: #ffc105">Iniciar sesión</h2></center>
                <br>
                <form action="/database/login" method="post">
                    <center>
                        <input type="text" id="usuario" name="Correo" class="inputs" placeholder="Escribe tu usuario" required>
                        <input type="password" id="contrasena" name="Password" class="inputs" placeholder="Escribe tu contraseña" required>
                        <br><br>
                        <input type="submit" value="INICIAR SESIÓN" class="iniciar">
                        <br><br>
                        <a href="Recuperar" style="font-weight: 300; color: #ffc105; text-decoration: underline;">¿Olvidaste tu contraseña?</a>
                        <br><br>
                        ¿No tienes una cuenta? <a href="registro" style="font-weight: 300; color: #ffc105; text-decoration: underline;">Crea una ahora mismo</a>
                        <br>
                    </center>
                </form>
            </div>
        </div>
    </div>

    <footer>
        <div id="dynamic-footer"></div>
    </footer>

    <script src="/js/Footer.js"></script>
</body>
</html>
