<!DOCTYPE html>
<html lang="es">
<head>
    <title>EmergencyApp</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="EmergencyApp">
    <meta name="keywords" content="EmergencyApp, Gimnasio, Entrenadores, Ayuda">
    <meta name="robots" content="index">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/EstiloFooter.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <img alt="EmergencyApp" class="logo" src="/images/logo.png"/>
            </a>
        </div>
        <b><h1 class="text">EmergencyApp</h1></b>
        <button class="logout-btn" onclick="logout()">Cerrar sesión</button>
    </header>

    <form action="/database/admin/login" method="POST"> <!-- Cambia aquí la acción -->
        <label for="correo">Correo:</label>
        <input type="email" name="correo" id="correo" required>
        
        <label for="password">Contraseña:</label>
        <input type="password" name="password" id="password" required>
        
        <button type="submit">Iniciar Sesión</button>
    </form>

    <div class="button-container">
        <button class="tab-button" onclick="showContent('usuarios')">Usuarios</button>
        <button class="tab-button" onclick="showContent('reportes')">Reportes</button>
    </div>

    
    <div id="usuarios" class="content">
        <p><strong>Nombre:</strong> </p>
        <p><strong>Estado:</strong> </p>
    </div>

    <div id="reportes" class="content">
        <p><strong>Fecha y hora:</strong> </p>
        <p><strong>Máquina:</strong> </p>
    </div>

    <script>
        function showContent(section) {
            let contents = document.querySelectorAll('.content');
            contents.forEach(content => {
                content.classList.remove('active');
            });
            document.getElementById(section).classList.add('active');
        }
        showContent('usuarios');
    </script>
    <script>
        function logout() {
            fetch('/logout', { method: 'POST', credentials: 'include' })
                .then(() => {
                    localStorage.removeItem('token');
                    window.location.href = '/';
                })
                .catch(err => console.error('Error al cerrar sesión:', err));
        }
    </script>
</body>
</html>
